@font-face{
    font-family: 'busong';
    src:url('./本墨钧宋.ttf');
}
.home{
    transform: rotate(10deg);
    background: url('./timg.jpg') no-repeat;
    .h-txt{
        margin-top: 200px;
        font-family: 'busong';
        color: red;
    }
}